{% extends 'base.html' %}


{% block title %}New Task{% endblock title %}


{% block content %}

<h1>New Task </h1>
<form method="POST" action="{{ url_for('create_task') }}">
    <p>
    <label for="summary">Summary: </label>
    <input type="text" name="summary" id=" id_summary">
    </p>
    <p>
    <label for="description"> Description</label>
    <textarea name="description" id="id_description" rows="4" cols="80">
    </textarea>
    </p>
    <p>
    <input type="submit" class="btn btn-success" value="Create">
    </p>
</form>
{% endblock content %}